<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
   <section name="AutoMaxLair.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
   <section name="AutoMaxLair.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="lib" />
		</assemblyBinding>
	</runtime>
 <applicationSettings>
  <AutoMaxLair.Properties.Settings>
   <setting name="DarkTheme" serializeAs="String">
    <value>True</value>
   </setting>
  </AutoMaxLair.Properties.Settings>
 </applicationSettings>
 <userSettings>
  <AutoMaxLair.Properties.Settings>
   <setting name="DarkTheme" serializeAs="String">
    <value>True</value>
   </setting>
  </AutoMaxLair.Properties.Settings>
 </userSettings>
</configuration>

